/*default transition*/
.transition {
    transition: .3s ease;
}


/* fade enter and leave transition*/
.fade-enter-active,
.fade-leave-active {
    transition: opacity .3s ease;
}
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}


/* slide down transition */
.slideDown-enter-active,
.slideDown-leave-active {
    transition: max-height 0.3s ease-in-out;
}
.slideDown-enter-to,
.slideDown-leave-from {
    overflow: hidden;
    max-height: 400px;
}
.slideDown-enter-from,
.slideDown-leave-to {
    overflow: hidden;
    max-height: 0;
}
